<md-card>
  <md-card-header>
    <md-card-title>Birthday Wish</md-card-title>
    <md-card-subtitle>Pending</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <mp-pending-messages (messageSelected)="onBirthdayWishMessageSelected($event)"
      [messages]="usersPendingBirthdayWishMessages$ | async" [selectable]="true">
    </mp-pending-messages>
    <mp-in-progress-birthday-wish-message *ngIf="selectedBirthdayWishMessage" [gifts]="gifts$ | async"
      [message]="selectedBirthdayWishMessage">
    </mp-in-progress-birthday-wish-message>
  </md-card-content>
</md-card>
