
/* You can add global styles to this file, and also import other style files*/ 
@import '~@angular/material/core/theming/prebuilt/indigo-pink.scss';

body {
  font-family: Roboto, sans-serif;
}

.mp-subtitle {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
    display: block;
    margin-bottom: 16px;
}
.mp-disabled {
     opacity: 0.4;
     cursor: not-allowed;
}
md-chip:focus {
  outline:0;
}

md-chip {
  cursor:pointer;
}
